.container-page-not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-page-not-found svg {
  width: 30%;
}
@media (max-width: 1000px) {
  .container-page-not-found svg {
    width: 70%;
  }
}
